/*　ヘッドラインの設定　*/

table.headline{
table-layout:fixed;
border:6px outset #fff;
width:100%;
}
td.headline{
color:#039;
font-size:10.5pt;
font-weight:normal;
text-align:center;
padding-top:15px;
padding-bottom:14px;
border:1px solid #99c;
margin-bottom:1px;
}
.headline a:link,.headline a:visited{
color:#039;
text-decoration:underline;
}
.headline a:hover{
color:#fff;
text-decoration:none;
background-color:#009;
}
.headline a:active{
color:#039;
text-decoration:underline;
background-color:#fff;
}

/*　リンクテーブルの設定　*/

table.lt{
margin:2px 4px 2px 4px;
border:none;
}
td.lt{
color:#ccc;
}
.lt a:link,.lt a:visited{
color:#ccc;
}
.lt a:hover{
color:#fff;
font-weight:normal;
background-color:#039;
}
.lt a:active{
color:#ccc;
background-color:#fff;
}

/*　閣僚名簿の設定　*/

table.cl{
color:#039;
font-size:10pt;
table-layout:fixed;
border:6px outset #fff;
background-color:#fff;
margin:0px 0px 0px 0px;
width:100%;
}
td.cl{
text-align:center;
border-width:1px;
border-style:solid;
border-color:#ddd #99c #99c #eee;
background-color:#fff;
}
.cl a:link,.cl a:visited{
color:#039;
text-decoration:none;
background-color:#fff;
width:100%;
}
.cl a:hover{
color:#fff;
text-decoration:none;
background-color:#039;
width:100%;
}
.cl a:active{
color:#039;
text-decoration:none;
background-color:#fff;
}

/*　年表部分の設定　*/

table.line{
border-top:4px double #039;
border-bottom:2px solid #039;
}
td#l,td.l{
border-bottom:1px solid #00c;
}

/*　年表のカラー設定の設定　*/

tr.x{
color:#fff;
background-color:#66c;
}
tr.x td#l a:link,tr.x td#l a:visited{
color:#fff;
text-decoration:underline;
}
.b{background-color:#cff}
.n{background-color:#fff}
.s{background-color:#ffc}
.d{background-color:#eee}
.g{background-color:#fcf}

